<%- include("header") -%>

    <!-- !PAGE CONTENT! -->
    <div class="w3-content" id="home_page">
        <div class="w3-display-middle w3-margin-top w3-center" id="homepage_top_screen">
            <h1 class="w3-xxlarge w3-text-white">
                <span class="w3-padding w3-black w3-opacity-min"><b>HB</b></span> 
                <!--Hide on small screens -->
                <span class="w3-hide-small w3-text-black">HELENE</span>
                <span class="w3-hide-small w3-text-black">BANK</span>
            </h1>
        </div>
    </div>

<%-include("footer")-%>